<!DOCTYPE html>
<html lang="de">
@{
	Layout = "~/_Layout.cshtml";
	Page.title = "Register";
}
<body>
<span class="error">@Html.ValidationMessage("Error")</span>
<span class="error">@Html.ValidationMessage("Hash")</span>
	<form id="loginForm" method="post">
		<label for="name"><b>Nutzername</b></label>
		<input required name="name" id="name" type="text" class="form-control" placeholder="Benutzer" />
		<br />
		<label for="password"><b>Passwort</b></label>
		<input required name="password" id="password" type="password" class="form-control" placeholder="Passwort" />
		<br/>
		<button class="btn btn-default btn-block raise">Registieren</button>
	</form>
</body>
</html>