<!DOCTYPE html>
<html lang="de">
@{
	Page.title = "Register";
}
<head>
	<script>
		var roles = ["gast", "mitarbeiter", "student"];
		function showRoleFields(role)
		{
			roles.forEach(function (r)
			{
				var element = document.getElementById(r);
				if (element == null)
					return;
				element.hidden = (r !== role);

				for (var i = 0; i < element.children.length; i++)
				{
					var child = element.children[i];
					var childName = child.tagName.toLowerCase();
					if (childName === "input" || childName === "select")
						child.disabled = (r !== role);
				}
			});
		}
	</script>
</head>
<body>
<span class="error">@Html.ValidationMessage("Error")</span>
<span class="error">@Html.ValidationMessage("Hash")</span>
<form id="loginForm" method="post">
	<label for="name"><b>Nutzername</b>*</label>
	<input required name="name" id="name" type="text" class="form-control" placeholder="Benutzer" />
	<br />
	<label for="mail"><b>E-Mail</b>*</label>
	<input required name="mail" id="mail" type="text" class="form-control" placeholder="E-Mail" />
	<br />
	<label for="password"><b>Passwort</b>*</label>
	<div style="display: flex">
		<input required name="password" id="password" type="password" class="form-control" placeholder="Passwort" />
		<input required name="passwordRepeat" id="passwordRepeat" type="password" class="form-control" placeholder="Wiederholen" />
	</div>
	<br />
	<label for="birthdate"><b>Geburtsdatum</b></label>
	<input name="birthdate" id="birthdate" type="date" class="form-control" />
	<br />
	<label for="firstName"><b>Vorname</b>*</label>
	<input required name="firstName" id="firstName" type="text" class="form-control" placeholder="Vorname" />
	<br />
	<label for="lastName"><b>Nachname</b>*</label>
	<input required name="lastName" id="lastName" type="text" class="form-control" placeholder="Nachname" />
	<br />
	<div style="display: flex">
		<input onclick="showRoleFields('gast')" required name="role" type="radio" class="form-control" value="Gast" />Gast
		<input onclick="showRoleFields('mitarbeiter')" required name="role" type="radio" class="form-control" value="Mitarbeiter" />Mitarbeiter
		<input onclick="showRoleFields('student')" required name="role" type="radio" class="form-control" value="Student" />Student
	</div>
	<br />
	<div id="gast" hidden="true">
		<label for="reason"><b>Grund</b>*</label>
		<input required name="reason" id="reason" type="text" class="form-control" placeholder="Grund" />
		<br />
		<label for="expireDate"><b>Ablaufdatum</b></label>
		<input name="expireDate" id="expireDate" type="date" class="form-control" />
		<br />
	</div>
	<div id="mitarbeiter" hidden="true">
		<label for="phone"><b>Telefon</b></label>
		<input name="phone" id="phone" type="tel" class="form-control" placeholder="Telefon"/>
		<br />
		<label for="office"><b>Büro</b></label>
		<input name="office" id="office" type="text" class="form-control" />
		<br />
	</div>
	<div id="student" hidden="true">
		<label for="matriculationNumber"><b>Matrikelnummer</b>*</label>
		<input required name="matriculationNumber" id="matriculationNumber" type="number" class="form-control"/>
		<br />
		<label for="degree"><b>Studiengang</b>*</label>
		<select required class="form-control" name="degree" id="degree">
			<option value="ET">ET</option>
			<option value="INF">INF</option>
			<option value="ISE">ISE</option>
			<option value="MCD">MCD</option>
			<option value="WI">WI</option>
		</select>
		<br />
	</div>
	<button class="btn btn-default btn-block raise">Registrieren</button>
</form>
</body>
</html>