<!DOCTYPE html>
<html lang="de">
@{
	Layout = "~/_Layout.cshtml";
	Page.title = "Start";
}
<body>
	<span class="error">@Html.ValidationMessage("Error")</span>
	<!-- First Line (Image) -->
	<div class="row">
		<div class="col splash">
			<img height="200" src="black.png" alt="Black" />
		</div>
	</div>
	<br />
	<!-- Second Line -->
	<div class="row">
		<!-- Left Text Field -->
		<div class="col-2">
			<p>Der Dienst e-Mensa ist noch beta. Sie können bereits <a href="~/Produkte">Mahlzeiten</a> durchstöbern, aber noch nicht bestellen.</p>
		</div>
		<!-- Big Text Field in the Middle -->
		<div class="col">
			<h2>Leckere Gerichte vorbestellen</h2>
			<p>... und gemeinsam mit Kommilitonen und Freunden essen.</p>
		</div>
		<!-- Right Buttons (Register, Login) -->
		<div class="col-2" style="margin: auto">
			<form action="~/Login/Register">
				<button class="btn btn-default btn-block raise"><i class="far fa-hand-point-right"></i> Registrieren</button>
			</form>
			<br />
			<form action="~/Login">
				<button class="btn btn-default btn-block raise"><i class="fas fa-sign-in-alt"></i> Anmelden</button>
			</form>
		</div>
	</div>
	<br />
	<!-- Third Line-->
	<div class="row">
		<!-- Left Text Field -->
		<div class="col-2">
			<p>Registieren Sie sich <a href="~/Login/Register">hier</a>, um über die Veröffentlichung des Dienstes per Mail informiert zu werden.</p>
		</div>
		<!-- Middle to Right big Splash Image -->
		<div class="col splash">
			<img height="100" src="black.png" alt="Black" />
		</div>
	</div>
</body>
</html>