<!DOCTYPE html>
@{
	Layout = "~/_Layout.cshtml";
	Page.title = "Start";
}
<html>
<body>
<!-- First Line (Image) -->
<div class="row">
	<div class="col splash">
		<img height="200" src="black.png" alt="Black"/>
	</div>
</div>
<br />
<!-- Second Line -->
<div class="row">
	<!-- Left Text Field -->
	<div class="col-2">
		<p>Der Dienst e-Mensa ist noch beta. Sie können bereits <a href="Produkte.html">Mahlzeiten</a> durchstöbern, aber noch nicht bestellen.</p>
	</div>
	<!-- Big Text Field in the Middle -->
	<div class="col">
		<p>
			<h2>Leckere Gerichte vorbestellen</h2>
			... und gemeinsam mit Kommilitonen und Freunden essen.
		</p>
	</div>
	<!-- Right Buttons (Register, Login) -->
	<div class="col-2" style="margin: auto">
		<button type="button" class="btn btn-default btn-block"><i class="far fa-hand-point-right"></i> Registrieren</button>
		<button type="button" class="btn btn-default btn-block"><i class="fas fa-sign-in-alt"></i> Anmelden</button>
	</div>
</div>
<br />
<!-- Third Line-->
<div class="row">
	<!-- Left Text Field -->
	<div class="col-2">
		<p>Registieren Sie sich <a href="#">hier</a>, um über die Veröffentlichung des Dienstes per Mail informiert zu werden.</p>
	</div>
	<!-- Middle to Right big Splash Image -->
	<div class="col splash">
		<img height="100" src="black.png" alt="Black"/>
	</div>
</div>
</body>
</html>
