
@{
	Page.title = "Dispatch";
	<script>
		function send(url, method, input) {
			var x = new XMLHttpRequest();
			x.open(method, url);
			x.setRequestHeader("X-Authorize", input);
			x.onload = function (e) { document.getElementById('response').innerText = x.response; };
			x.send();
		}
	</script>
}

<h2>Bestellungen Get</h2>
<div class="input-group">
<input class="form-control" id="input1" type="text" value="ohShitHereComesDatBoi" />
<button onclick="send('@Url.Action("Bestellungen", "Dispatch")', 'GET', document.getElementById('input1').value)" class="btn btn-default raise">Send</button>
</div>
<br />
<h2>Response</h2>
<p id="response">Send a Request!</p>